@font-face {
    font-family: 'Eczar';
    src: url('../fonts/Eczar-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Eczar-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Eczar-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Eczar-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Eczar-Regular.svg') format('svg'); /* Legacy iOS */
}

@import 'abstracts/variables';
@import 'abstracts/animations';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/app-types';
@import 'components/cta';
@import 'components/dev-process';
@import 'components/feature-box';
@import 'components/form';
@import 'components/person-card';
@import 'components/post';
@import 'components/pricing-card';
@import 'components/project';
@import 'components/pyramid';
@import 'components/review';
@import 'components/services-features';
@import 'components/principles';


@import 'layout/footer';
@import 'layout/header';
@import 'layout/menu';

@import 'pages/about';
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/gdpr';
@import 'pages/index';
@import 'pages/pricing';
@import 'pages/projects';
//@import 'pages/OLD_services';
@import 'pages/services';