.app-types {
    @include paddCube;
    width: 100%;
    background-color: $color-blue-light;
    margin-top: -12rem;
    clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 100%);

    @media only screen and (max-width: 620px) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 0;
    }

    &__slider {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__btn {
            cursor: pointer;

            &--prev {

            }
            &--next {

            }
        }
        &__window {
            width: 80%;
            background-color: $color-white;
            border-radius: 5px;
            box-shadow: 0 .2rem .4rem .1rem $color-black-overlay-light-2;
            padding: 6rem;
            padding-top: 7.5rem;

            position: relative;
        }
        &__title {
            background-color: $color-blue-dark-2;
            padding: 1rem 3rem 1rem 3rem;
            transform: translateY(-50%);

            color: $color-white;
            font-size: $font-big;
            font-weight: 300;

            position: absolute;
            top: 0;
            left: 6rem;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__icon {
            width: 25%;
        }
        &__text {
            width: 75%;

            line-height: 135%;
        }
    }

    &__overview {
        width: 100%;
        margin-top: 6rem;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;

        &__card {
            height: 16rem;
            padding: 2rem 3rem;
            background-color: $color-white-overlay-light;
            border-radius: 5px;

            display: flex;
            align-items: center;

            transition: all .1s ease-in;

            &:hover, &.active {
                background-color: $color-white;
                box-shadow: 0 .2rem .4rem .1rem $color-black-overlay-light-2;
                cursor: pointer;
            }

            &__icon {
                width: 30%;
                margin-right: 3rem;
            }
            &__content {
                & .heading-5 {
                    font-size: $font-regular;
                    font-weight: 500;
                }
                & .paragraph-small {
                    margin-top: 1rem;

                    font-size: $font-smallest;
                    line-height: 135%;
                }
            }
        }
    }
}