.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media only screen and (max-width: 800px) {
        flex-basis: 40%;
        margin-bottom: 10rem;
    }
    @media only screen and (max-width: 600px) {
        flex-basis: 100%;
        margin-bottom: 10rem;
    }

    &__photo {
        width: 20rem;
        height: 25rem;
        margin-bottom: 3rem;
        border-radius: 5px;
        box-shadow: 0 0 3px 1px $color-black-overlay-light;
    }

    &__name {
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    &__specification {
        font-size: 1.8rem;
        font-weight: 500;
    }
}