.pyramid {
    width: 100%;

    &__top {
        width: 100%;

        display: flex;
    }
    &__image {
        width: 65%;

        position: relative;

        & .heading-2 {
            width: 100%;
            transform: translateX(-50%);
            margin: 0;

            color: white;

            position: absolute;
            top: 6rem;
            left: 50%;
        }
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        width: 35%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & .heading-2 {
            width: 100%;
            padding: 6rem 0;
            margin: 0;
            box-shadow: 0 .2rem .4rem .1rem $color-black-overlay-light-2;
            background-color: $color-blue-light;
        }
    }
    &__list {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 12rem;
    }
    &__desc-item {
        font-family: 'Eczar', serif;
        color: $color-gold;
        font-size: $font-big;
    }

    &__bottom {
        width: 100%;
        padding: 3rem;
        background-color: $color-black;
    }
}