.about {
    &__header {
        &__background {
            background-image: /* linear-gradient(to bottom, $color-blue-overlay-dark, $color-blue-overlay-dark), */ url('../images/we-1600.jpg');
            background-position-y: 30%;

            &.animBackground {
                background-image: linear-gradient(to right bottom, $color-blue-overlay-dark-2, $color-blue-overlay-dark), url('../images/we-1600.jpg');
            }
            &.animBackgroundBack {
                animation: headerBackgroundBack30 1.5s forwards;
            }
        }
    }

    &__people {
        padding: 27rem;
        width: 100%;
        background-color: $color-blue-light;
        margin-top: -12rem;
        clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 calc(100% - 10rem));

        display: flex;
        flex-direction: column;
        align-items: center;


        @media only screen and (max-width: 1650px) {
            padding: 21rem 15rem;
        }
        @media only screen and (max-width: 1200px) {
            padding: 21rem 5rem;
        }
        @media only screen and (max-width: 1400px) {
            padding: 21rem 24rem;
        }
        @media only screen and (max-width: 1175px) {
            padding: 21rem 15rem;
        }
        @media only screen and (max-width: 550px) {
            padding: 21rem 2rem 10rem 2rem;
        }
        @media only screen and (max-width: 620px) {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10rem));
            margin-top: 0;
        }

        &__container {
            height: 100%;
            width: 100%;
            margin-bottom: 10rem;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            @media only screen and (max-width: 1400px) {
                justify-content: center;
            }
            @media only screen and (max-width: 800px) {
                justify-content: center;
                margin-bottom: 0;
            }
        }
    }

    &__amnion {
        @include paddCube;
        width: 100%;
        background-color: $color-grey-light;
        margin-top: -12rem;
        clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 calc(100% - 10rem));

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            width: 100%;
            height: 70rem;
            object-fit: cover;
            background-position: center;
            margin-bottom: 7.5rem;
            box-shadow: 0 .2rem .5rem .3rem $color-black-overlay-light;

            @media only screen and (max-width: 900px) {
                height: 50rem;
            }
            @media only screen and (max-width: 680px) {
                height: 40rem;
            }
            @media only screen and (max-width: 440px) {
                height: 30rem;
            }
        }

        & p {
            text-align: center;
            font-size: 2.2rem;
            line-height: 135%;
            
            @media only screen and (max-width: 440px) {
                font-size: 2rem;
            }
        }
    }

    &__tech {
        @include paddCube;
        padding-bottom: 10rem;
        width: 100%;
        background-color: $color-blue-light;
        margin-top: -12rem;

        & h2 {
            margin-bottom: 18rem;

            @media only screen and (max-width: 390px) {
                font-size: 3.5rem;
            }
        }
    }
       /*&__technology {
            width: 100%;
            margin-bottom: 15rem;

            display: flex;
            align-items: center;
            
            @media only screen and (max-width: 700px) {
                flex-direction: column;
                align-items: center;
            }

            & > p {
                width: 60%;

                @media only screen and (max-width: 850px) {
                    font-size: 2.2rem;
                }
                @media only screen and (max-width: 750px) {
                    font-size: 2rem;
                }
                @media only screen and (max-width: 700px) {
                    text-align: center;
                    font-size: 2.5rem;
                }
                @media only screen and (max-width: 550px) {
                    font-size: 2rem;
                }
            }

            &:nth-child(2) {
                flex-direction: row-reverse;
                
                @media only screen and (max-width: 700px) {
                    flex-direction: column;
                }

                & .about__tech__image {
                    margin-left: 10rem;
                    margin-right: 0;
                    
                    @media only screen and (min-width: 1400px) {
                        margin-left: 20rem;
                    }
                    @media only screen and (max-width: 700px) {
                        margin-left: 0;
                        margin-bottom: 5rem;
                    }
                }
            }
        }

        &__image {
            width: 35%;
            margin-right: 10rem;

            @media only screen and (min-width: 1400px) {
                margin-right: 20rem;
            }
            @media only screen and (max-width: 700px) {
                width: 60%;
                margin-right: 0;
                margin-bottom: 5rem;
            }
        }
    }*/

}