.index {
    &__header {
        &__background {
            background-image: /* linear-gradient(to bottom, $color-blue-overlay-dark, $color-blue-overlay-dark), */ url('../images/notebook-1920.jpg');
            background-size: 130%;
            background-position-y: 65%;
            background-position-x: 100%;

            &.animBackground {
                background-image: linear-gradient(to right bottom, $color-blue-overlay-dark-2, $color-blue-overlay-dark), url('../images/notebook-1920.jpg');
            }
            &.animBackgroundBack {
                animation: headerBackgroundBack65 1.5s forwards;
            }
        }
    }
    &__about {
        @include paddCube;
        width: 100%;
        background-color: $color-grey-light;
        padding-top: 21rem;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        position: relative;        
        z-index: 2;

        @media only screen and (max-width: 1500px) {
            padding-top: 15rem;
        }
        @media only screen and (max-width: 550px) {
            padding: 21rem 2rem;
        }

        &__box {
            width: 100%;

            display: flex;
            justify-content: center;

            @media only screen and (max-width: 800px) {
                flex-direction: column;
                align-items: center;
                width: 85%;
            }

            & .heading-2 {
                margin-bottom: 3rem;

                @media only screen and (max-width: 800px) {
                     margin-bottom: 1rem;
                }
            }

            & .paragraph-big{
                color: $color-grey-text;
            }
        }

        &--left {
            margin-right: 15rem;

            text-align: right;

            //animation: fromLeft ease-out .6s;

            @media only screen and (max-width: 1400px) {
                margin-right: 7.5rem;
                margin-bottom: 5rem;
            }

            @media only screen and (max-width: 800px) {
                margin-right: 0;
                text-align: left;  
            }
            
            & .heading-2 {
                text-align: right;
                margin-left: 0rem;
                margin-right: 0rem;

                @media only screen and (max-width: 800px) {
                    text-align: left;  
                }
            }
        }
        
        &--right {
            text-align: left;
            
            & .heading-2 {
                text-align: left;
                margin-left: 0rem;
                margin-right: 0rem;
            }            
        }

    }

    &__projects {
        @include paddWide;
        width: 100%;
        background-color: $color-blue-light;
        //background-image: linear-gradient(to bottom, rgba($color-blue-light, .5), rgba($color-blue-light, .5)), url('../images/communication.jpg');
        background-size: cover;
        margin-top: -12rem;
        //clip-path: polygon(0 10rem, 100% 0, 100% calc(100% - 10rem), 0 100%);
        
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        &__boxes {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__about-us {
        height: 100vh;
        min-height: 90rem;
        background-image: 
                        linear-gradient(to bottom, $color-blue-overlay-dark-2, $color-blue-overlay-dark-2),
                        linear-gradient(to bottom, $color-black-overlay-2, $color-black-overlay-2),
                        linear-gradient(to bottom, $color-black-overlay 1%, transparent 5%),                   
                        url('../images/we-1600.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;

        @media only screen and (max-width: 1000px) {
            min-height: 0;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .heading-2 {
            padding: 6rem 12rem;

            font-size: 12rem;
            color: $color-white-overlay-light;
            text-align: left;
            letter-spacing: .8rem;

            @media only screen and (max-width: 1870px) {
                font-size: 11rem;
            }
            @media only screen and (max-width: 1750px) {
                font-size: 10rem;
            }
            @media only screen and (max-width: 1350px) {
                padding: 6rem 8rem;
                
                font-size: 8rem;
            }
            @media only screen and (max-width: 900px) {
                padding: 6rem 6rem;
                margin-bottom: 12rem;
                
                font-size: 6rem;
            }
            @media only screen and (max-width: 700px) {
                padding: 6rem 4rem;
                margin-bottom: 10rem;
                
                font-size: 5rem;
            }
        }
        &__photo {
            width: 40%;
            height: 50%;
            overflow: hidden;

            position: absolute;
            bottom: 0;
            right: 0;

            @media only screen and (max-width: 1350px) {
                width: 60%;
            }
            @media only screen and (max-width: 1000px) {
                width: 100%;
                height: 50rem;

                position: relative;

                order: 2;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @media only screen and (max-width: 700px) {
                height: 40rem;
            }
            @media only screen and (max-width: 550px) {
                height: 30rem;
            }

            @media only screen and (min-width: 1001px) {
                &:hover {
                    & img {
                        filter: brightness(.1);
                        width: 130%;
                        height: 130%;
                    }
                    & a.index__about-us__link {
                        color: $color-white;
                    }
                    & + a.index__about-us__link {
                        color: transparent;
                    }
                }
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transform: translate(-50%, -50%);

                position: absolute;
                top: 50%;
                left: 50%;

                transition: all .4s;

                @media only screen and (max-width: 1000px) {
                    filter: brightness(.5);
                }
            }
            & a.index__about-us__link {
                color: transparent;

                top: 50%;
                left: 50%;

                transition: all .4s;

                @media only screen and (max-width: 1000px) {
                    color: $color-white;
                }
            }
        }
        &__link {
            transform: translate(-50%, -50%);

            font-weight: bold;
            font-size: $font-regular;
            letter-spacing: 2px;

            position: absolute;

            @media only screen and (max-width: 1000px) {
                transform: translate(0, 0);

                position: static;
            }
        }
        & > a.index__about-us__link {
            color: $color-white;

            left: 30%;
            top: 75%;

            transition: all .2s;

            @media only screen and (max-width: 1350px) {
                left: 20%;
            }
            @media only screen and (max-width: 1000px) {
                margin-bottom: 15rem;
            }
            @media only screen and (max-width: 900px) {
                margin-bottom: 12rem;
            }
        }
    }

    &__features {
        @include paddWide;
        width: 100%;
        background-color: $color-grey-light;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__reviews {
        @include paddWide;
        width: 100%;
        margin-top: -12rem;
        clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
        background-color: $color-blue-light;
        margin-bottom: -12rem;

        &__box {        
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
