.services {
    &__header {
        &__background {
            background-image: /* linear-gradient(to bottom, $color-blue-overlay-dark, $color-blue-overlay-dark), */ url('../images/threeInside-1920.jpg');
            background-position-y: 30%;

            &.animBackground {
                background-image: linear-gradient(to right bottom, $color-blue-overlay-dark-2, $color-blue-overlay-dark), url('../images/threeInside-1920.jpg');
            }
            &.animBackgroundBack {
                animation: headerBackgroundBack30 1.5s forwards;
            }
        }
    }    
}
